@page
@using Microsoft.Extensions.Localization
@using JS.Abp.DataPermission.Localization
@using JS.Abp.DataPermission.Web.Pages.DataPermission
@model JS.Abp.DataPermission.Web.Pages.DataPermission.IndexModel
@inject IStringLocalizer<DataPermissionResource> L

@{
}
<h1>DataPermission</h1>
<p>@L["SamplePageMessage"]</p>
