@page "/DataPermission"
@using Microsoft.Extensions.Localization
@using global::JS.Abp.DataPermission.Localization
@inject IStringLocalizer<DataPermissionResource> L
@{
}
<h1>DataPermission</h1>
<p>@L["SamplePageMessage"]</p>