@page
@using Microsoft.AspNetCore.Mvc.Localization
@using JS.Abp.DataPermission.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using JS.Abp.DataPermission.Web.Pages.DataPermission.PermissionExtensions
@using JS.Abp.DataPermission.PermissionExtensions;
@using System.Globalization
@inject IHtmlLocalizer<DataPermissionResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/DataPermission/PermissionExtensions/CreateModal" autocomplete="off">
    <abp-modal id="PermissionExtensionCreateModal">
        <abp-modal-header title="@L["NewPermissionExtension"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input value="@Model.ObjectName" asp-for="PermissionExtension.ObjectName"  />

            @* <abp-input asp-for="PermissionExtension.RoleId"  /> *@
            <abp-select asp-for="PermissionExtension.RoleId" asp-items="@Model.RoleList" label="RoleName"/>
 @* <abp-input asp-for="PermissionExtension.ExcludedRoleId"  /> *@

            <abp-select asp-for="PermissionExtension.PermissionType"  />

            <abp-input asp-for="PermissionExtension.LambdaString" text-area />

            <abp-input asp-for="PermissionExtension.IsActive"  />
            
            <abp-input asp-for="PermissionExtension.Description" text-area />
            
                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>