@page
@using Microsoft.AspNetCore.Mvc.Localization
@using JS.Abp.DataPermission.Localization
@using JS.Abp.DataPermission.Web.Pages.DataPermission.Demos
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using JS.Abp.DataPermission.Demos;
@using System.Globalization
@inject IHtmlLocalizer<DataPermissionResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/DataPermission/Demos/EditModal" autocomplete="off">
    <abp-modal id="DemoEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Demo.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Demo.Name"  />

            <abp-input asp-for="Demo.DisplayName"  />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>